/* 
    Document   : style
    Created on : Jun 18, 2012, 3:01:37 PM
    Author     : mike_newell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.retina {
    width: 2048px;
    height: 1536px;
}

#wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.clicker {
    position: absolute;
    z-index: 6;
    width: 200px;
    height: 200px;
/*    background-color: red;*/
    display: none;
}

#clicker1 {
    top: 884px;
    left: 1590px;
}

#clicker2 {
    top: 783px;
    left: 1354px;
}

#clicker3 {
    top: 872px;
    left: 1449px;
}